// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
  padding-bottom: 25px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
